body {
  margin: 0;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: #fff;
  color: #000;
  gap: 18px;
}
button {

}
.compass {
  width: 240px;
  height: 240px;
  border: 1px solid #000;
  border-radius: 50%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.label {
  position: absolute;
}
.n {
  top: 10px;
}
.s {
  bottom: 10px;
}
.e {
  right: 10px;
}
.w {
  left: 10px;
}
.needle {
  width: 2px;
  height: 82px;
  background: #ff3b30;
  position: absolute;
  top: 44px;
  transform-origin: bottom center;
}
.center {
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  position: absolute;
}
#value {
}
