body {
  max-width: 800px;
}


#container {
  position: relative;
  display: inline-block;
}

video {
  max-width: 100%;
  display: block;
}

canvas {
  position: absolute;
  top: 0;
  left: 0;
  max-width: 100%;
  display: block;
}

#info {
  text-align: left;
}

.hand-info {
}

button {
  margin: 10px 0px;
}

.landmark-info {
  display: inline-block;
  margin: 3px 5px;
  padding: 3px 8px;
  background: black;
  color: white;
}